h1 {
    color: #001F3F;
    text-align: center;
    margin-top: 240px;
}
h2 {
    text-align: center;
}
button {
    text-align: center;
    background-color: #001F3F;
    height: 60px;
    border: #000000;
    border-radius: 7%;
}
button > a {
    color: white;
    text-decoration: none;
}
.btns {
    text-align: center;
}